In [3]:
! bq query --use_legacy_sql=FALSE 'select * from `bigquery-public-data.san_francisco.bikeshare_trips` limit 10;'

Waiting on bqjob_r1dc195c46eed4117_0000017c34cdf13a_1 ... (0s) Current status: DONE
+---------+--------------+---------------------+--------------------+------------------+---------------------+------------------+----------------+-------------+----------+-----------------+
| trip_id | duration_sec |     start_date      | start_station_name | start_station_id |      end_date       | end_station_name | end_station_id | bike_number | zip_code | subscriber_type |
+---------+--------------+---------------------+--------------------+------------------+---------------------+------------------+----------------+-------------+----------+-----------------+
|  944732 |         2618 | 2015-09-24 17:22:00 | Mezes              |               83 | 2015-09-24 18:06:00 | Mezes            |             83 |         653 | 94063    | Customer        |
|  984595 |         5957 | 2015-10-25 18:12:00 | Mezes              |               83 | 2015-10-25 19:51:00 | Mezes            |             83 |          52 | nil      | Customer        |
|  984596 |         5913 | 2015-10-25 18:13:00 | Mezes              |               83 | 2015-10-25 19:51:00 | Mezes            |             83 |         121 | nil      | Customer        |
| 1129385 |         6079 | 2016-03-18 10:33:00 | Mezes              |               83 | 2016-03-18 12:14:00 | Mezes            |             83 |         208 | 94070    | Customer        |
| 1030383 |         5780 | 2015-12-06 10:52:00 | Mezes              |               83 | 2015-12-06 12:28:00 | Mezes            |             83 |          44 | 94064    | Customer        |
| 1102641 |          801 | 2016-02-23 12:25:00 | Mezes              |               83 | 2016-02-23 12:39:00 | Mezes            |             83 |         174 | 93292    | Customer        |
|  969490 |          255 | 2015-10-13 19:02:00 | Mezes              |               83 | 2015-10-13 19:07:00 | Mezes            |             83 |         650 | 94063    | Subscriber      |
| 1129386 |         6032 | 2016-03-18 10:33:00 | Mezes              |               83 | 2016-03-18 12:13:00 | Mezes            |             83 |         155 | 94070    | Customer        |
|  947105 |         1008 | 2015-09-26 12:57:00 | Mezes              |               83 | 2015-09-26 13:13:00 | Mezes            |             83 |         157 | 94063    | Subscriber      |
| 1011650 |           60 | 2015-11-16 18:54:00 | Mezes              |               83 | 2015-11-16 18:55:00 | Mezes            |             83 |          35 | 94124    | Subscriber      |
+---------+--------------+---------------------+--------------------+------------------+---------------------+------------------+----------------+-------------+----------+-----------------+

In [6]:
%%bigquery my_panda_data_frame

select *
from `bigquery-public-data.san_francisco.bikeshare_trips`
limit 10

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 287.10query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  7.97rows/s]

In [7]:
my_panda_data_frame

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type
0,944732,2618,2015-09-24 17:22:00+00:00,Mezes,83,2015-09-24 18:06:00+00:00,Mezes,83,653,94063,Customer
1,984595,5957,2015-10-25 18:12:00+00:00,Mezes,83,2015-10-25 19:51:00+00:00,Mezes,83,52,nil,Customer
2,984596,5913,2015-10-25 18:13:00+00:00,Mezes,83,2015-10-25 19:51:00+00:00,Mezes,83,121,nil,Customer
3,1129385,6079,2016-03-18 10:33:00+00:00,Mezes,83,2016-03-18 12:14:00+00:00,Mezes,83,208,94070,Customer
4,1030383,5780,2015-12-06 10:52:00+00:00,Mezes,83,2015-12-06 12:28:00+00:00,Mezes,83,44,94064,Customer
5,1102641,801,2016-02-23 12:25:00+00:00,Mezes,83,2016-02-23 12:39:00+00:00,Mezes,83,174,93292,Customer
6,969490,255,2015-10-13 19:02:00+00:00,Mezes,83,2015-10-13 19:07:00+00:00,Mezes,83,650,94063,Subscriber
7,1129386,6032,2016-03-18 10:33:00+00:00,Mezes,83,2016-03-18 12:13:00+00:00,Mezes,83,155,94070,Customer
8,947105,1008,2015-09-26 12:57:00+00:00,Mezes,83,2015-09-26 13:13:00+00:00,Mezes,83,157,94063,Subscriber
9,1011650,60,2015-11-16 18:54:00+00:00,Mezes,83,2015-11-16 18:55:00+00:00,Mezes,83,35,94124,Subscriber

In [94]:
%%bigquery trips_df1

SELECT *,
       EXTRACT(DAYOFWEEK FROM start_date) AS dow_int,
       CASE EXTRACT(DAYOFWEEK FROM start_date)
           WHEN 1 THEN "Sunday"
           WHEN 2 THEN "Monday"
           WHEN 3 THEN "Tuesday"
           WHEN 4 THEN "Wednesday"
           WHEN 5 THEN "Thursday"
           WHEN 6 THEN "Friday"
           WHEN 7 THEN "Saturday"
           END AS dow_str,
       CASE 
           WHEN EXTRACT(DAYOFWEEK FROM start_date) IN (1, 7) THEN "Weekend"
           ELSE "Weekday"
           END AS dow_weekday,
       EXTRACT(HOUR FROM start_date) AS start_hour,
       CASE 
           WHEN EXTRACT(HOUR FROM start_date) <= 5  OR EXTRACT(HOUR FROM start_date) >= 23 THEN "Nightime"
           WHEN EXTRACT(HOUR FROM start_date) >= 6 and EXTRACT(HOUR FROM start_date) <= 8 THEN "Morning"
           WHEN EXTRACT(HOUR FROM start_date) >= 9 and EXTRACT(HOUR FROM start_date) <= 10 THEN "Mid Morning"
           WHEN EXTRACT(HOUR FROM start_date) >= 11 and EXTRACT(HOUR FROM start_date) <= 13 THEN "Mid Day"
           WHEN EXTRACT(HOUR FROM start_date) >= 14 and EXTRACT(HOUR FROM start_date) <= 16 THEN "Early Afternoon"
           WHEN EXTRACT(HOUR FROM start_date) >= 17 and EXTRACT(HOUR FROM start_date) <= 19 THEN "Afternoon"
           WHEN EXTRACT(HOUR FROM start_date) >= 20 and EXTRACT(HOUR FROM start_date) <= 22 THEN "Evening"
           END AS start_hour_str
FROM `bigquery-public-data.san_francisco.bikeshare_trips`
ORDER BY start_date ASC

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 475.22query/s]
Downloading: 100%|██████████| 983648/983648 [00:02<00:00, 342769.19rows/s]

In [95]:
trips_df1

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983643,1338404,511,2016-08-31 23:05:00+00:00,Davis at Jackson,42,2016-08-31 23:14:00+00:00,Post at Kearny,47,370,94109,Subscriber,4,Wednesday,Weekday,23,Nightime
983644,1338406,457,2016-08-31 23:06:00+00:00,Davis at Jackson,42,2016-08-31 23:13:00+00:00,Spear at Folsom,49,504,94111,Subscriber,4,Wednesday,Weekday,23,Nightime
983645,1338405,701,2016-08-31 23:06:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 23:17:00+00:00,Spear at Folsom,49,175,94133,Subscriber,4,Wednesday,Weekday,23,Nightime
983646,1338407,260,2016-08-31 23:09:00+00:00,Embarcadero at Bryant,54,2016-08-31 23:14:00+00:00,Steuart at Market,74,226,94114,Subscriber,4,Wednesday,Weekday,23,Nightime
983647,1338408,378,2016-08-31 23:32:00+00:00,Washington at Kearny,46,2016-08-31 23:38:00+00:00,Embarcadero at Sansome,60,667,94111,Subscriber,4,Wednesday,Weekday,23,Nightime

In [40]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2013-01-01', end='2016-12-31')

In [96]:
trips_on_weekdays = trips_df1[trips_df1['dow_weekday'] == 'Weekday']

In [142]:
trips_on_weekdays['date'] = trips_on_weekdays['start_date'].dt.date

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [143]:
trips_on_weekdays['date']

0         2013-08-29
1         2013-08-29
2         2013-08-29
3         2013-08-29
4         2013-08-29
             ...
983643    2016-08-31
983644    2016-08-31
983645    2016-08-31
983646    2016-08-31
983647    2016-08-31
Name: date, Length: 871994, dtype: object

In [148]:
trips_on_non_holiday_weekdays = trips_on_weekdays[trips_on_weekdays['date'].isin(holidays) == False]

In [149]:
trips_on_non_holiday_weekdays

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,subscriber_type,dow_int,dow_str,dow_weekday,start_hour,start_hour_str,date
0,4069,174,2013-08-29 09:08:00+00:00,2nd at South Park,64,2013-08-29 09:11:00+00:00,2nd at South Park,64,288,94114,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29
1,4073,1067,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:42:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,321,94703,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29
2,4075,1117,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,316,94122,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29
3,4074,1131,2013-08-29 09:24:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,317,94115,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29
4,4076,1118,2013-08-29 09:25:00+00:00,South Van Ness at Market,66,2013-08-29 09:43:00+00:00,San Francisco Caltrain 2 (330 Townsend),69,322,94597,Subscriber,5,Thursday,Weekday,9,Mid Morning,2013-08-29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983643,1338404,511,2016-08-31 23:05:00+00:00,Davis at Jackson,42,2016-08-31 23:14:00+00:00,Post at Kearny,47,370,94109,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31
983644,1338406,457,2016-08-31 23:06:00+00:00,Davis at Jackson,42,2016-08-31 23:13:00+00:00,Spear at Folsom,49,504,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31
983645,1338405,701,2016-08-31 23:06:00+00:00,San Francisco Caltrain (Townsend at 4th),70,2016-08-31 23:17:00+00:00,Spear at Folsom,49,175,94133,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31
983646,1338407,260,2016-08-31 23:09:00+00:00,Embarcadero at Bryant,54,2016-08-31 23:14:00+00:00,Steuart at Market,74,226,94114,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31
983647,1338408,378,2016-08-31 23:32:00+00:00,Washington at Kearny,46,2016-08-31 23:38:00+00:00,Embarcadero at Sansome,60,667,94111,Subscriber,4,Wednesday,Weekday,23,Nightime,2016-08-31

In [116]:
from pandas.tseries.holiday import USFederalHolidayCalendar
cal = USFederalHolidayCalendar()
holidays = cal.holidays(start='2013-01-01', end='2016-12-31')

In [124]:
holidaylist = list(holidays)
holidaylist

[Timestamp('2013-01-01 00:00:00'),
 Timestamp('2013-01-21 00:00:00'),
 Timestamp('2013-02-18 00:00:00'),
 Timestamp('2013-05-27 00:00:00'),
 Timestamp('2013-07-04 00:00:00'),
 Timestamp('2013-09-02 00:00:00'),
 Timestamp('2013-10-14 00:00:00'),
 Timestamp('2013-11-11 00:00:00'),
 Timestamp('2013-11-28 00:00:00'),
 Timestamp('2013-12-25 00:00:00'),
 Timestamp('2014-01-01 00:00:00'),
 Timestamp('2014-01-20 00:00:00'),
 Timestamp('2014-02-17 00:00:00'),
 Timestamp('2014-05-26 00:00:00'),
 Timestamp('2014-07-04 00:00:00'),
 Timestamp('2014-09-01 00:00:00'),
 Timestamp('2014-10-13 00:00:00'),
 Timestamp('2014-11-11 00:00:00'),
 Timestamp('2014-11-27 00:00:00'),
 Timestamp('2014-12-25 00:00:00'),
 Timestamp('2015-01-01 00:00:00'),
 Timestamp('2015-01-19 00:00:00'),
 Timestamp('2015-02-16 00:00:00'),
 Timestamp('2015-05-25 00:00:00'),
 Timestamp('2015-07-03 00:00:00'),
 Timestamp('2015-09-07 00:00:00'),
 Timestamp('2015-10-12 00:00:00'),
 Timestamp('2015-11-11 00:00:00'),
 Timestamp('2015-11-26 00:00:00'),
 Timestamp('2015-12-25 00:00:00'),
 Timestamp('2016-01-01 00:00:00'),
 Timestamp('2016-01-18 00:00:00'),
 Timestamp('2016-02-15 00:00:00'),
 Timestamp('2016-05-30 00:00:00'),
 Timestamp('2016-07-04 00:00:00'),
 Timestamp('2016-09-05 00:00:00'),
 Timestamp('2016-10-10 00:00:00'),
 Timestamp('2016-11-11 00:00:00'),
 Timestamp('2016-11-24 00:00:00'),
 Timestamp('2016-12-26 00:00:00')]

In [129]:
alist = ['2016-08-31 23:05:00+00:00']

In [102]:
boolean_series = trips_on_weekdays.start_date.isin(holidays)

In [111]:
trips_on_non_holiday_weekdays = trips_on_weekdays['start date'[lambda x: x for x not in holidays]]

SyntaxError: invalid syntax (<ipython-input-111-be2f2b751a3f>, line 1)

In [104]:
trips_on_non_holiday_weekdays

Empty DataFrame
Columns: [trip_id, duration_sec, start_date, start_station_name, start_station_id, end_date, end_station_name, end_station_id, bike_number, zip_code, subscriber_type, dow_int, dow_str, dow_weekday, start_hour, start_hour_str]
Index: []

In [68]:
def not_holiday(alist):
    for x in alist:
        if x in holidays:
            return False
        else:
            return True

In [ ]:
holidays.isin(list_) == False

In [90]:
boolean_series = ~trips_on_weekdays.start_date.isin(holidays)

In [87]:
boolean_series

0         True
1         True
2         True
3         True
4         True
          ...
983643    True
983644    True
983645    True
983646    True
983647    True
Name: start_date, Length: 983648, dtype: bool

KeyboardInterrupt:

In [ ]:
start_dates